.tt-bank-investment-container > main {
	padding: 10px;
}

.bank-investment-money-cell-wrapper {
	display: flex;
	flex-direction: column;
}

.bank-investment-money-cell-total {
	font-size: 1rem;
}

.bank-investment-money-cell-per-day {
	color: #0f4983;
}
