/* region Layout */

#userInformation main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
}

.user-stats {
	grid-row-start: 1;
	grid-row-end: span 2;
}

.attack-history {
	grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: span 2;
}

/* endregion */
