.tt-jail-filters-container {
	margin-top: 10px;
}

.tt-jail-filters-container > main {
	padding: 8px 15px 8px 4px;
}

.tt-jail-filters-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.tt-jail-filters-shown-users > span {
	font-weight: bold;
}

.tt-jail-filters-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tt-jail-filters-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 5px;
}

.tt-jail-filters-item-header {
	font-weight: bold;
	margin-bottom: 5px;
}

.tt-jail-filters-quick-mark {
	position: absolute;
	font-size: 10px;
	right: -11px;
	bottom: -8px;
	color: rgb(133, 173, 13);
	font-weight: 600;
}

/* Checkbox */
.tt-checkbox-wrapper {
	display: flex;
	align-items: center;
}

.tt-checkbox-wrapper > label {
	margin-left: 2px;
}

/* Checkbox List */
.tt-checkbox-list-wrapper {
	display: flex;
}

.tt-checkbox-list-wrapper.tt-checkbox-list-column {
	flex-direction: column;
}

.tt-checkbox-list-wrapper.tt-checkbox-list-row {
	flex-direction: row;
}

.tt-checkbox-list-wrapper.tt-checkbox-list-row > .tt-checkbox-wrapper:not(:first-child) {
	margin-left: 10px;
}

/* Slider */
.tt-slider-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tt-slider-label {
	margin-top: 10px;
}
