.tt-stats-estimate-profile {
	float: right;
	padding-right: 10px;
	color: var(--tt-color-light-green);
}

.tt-stats-estimate {
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid var(--default-panel-divider-outer-side-color);
	font-size: 11px;
	color: #7b7b7b;
	min-height: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tt-stats-estimate .tt-loading-placeholder {
	padding: 0;
}
