#memberFilter .content .levelFilter__section-class,
#memberFilter .content .lastActiveFilter__section-class {
	display: flex;
	flex-flow: column;
	align-self: center;
}

#memberFilter .content .tt-dual-range {
	margin-bottom: 10px;
}

#faction-info-members .table-body > li[style*="display: none"] + .tt-last-action,
#faction-info-members .table-body > li[style*="display: none"] + .tt-stats-estimate,
#faction-info-members .table-body > li[style*="display: none"] + .tt-member-info,
#faction-info-members .table-body > li[style*="display: none"] + .tt-last-action + .tt-stats-estimate,
#faction-info-members .table-body > li[style*="display: none"] + .tt-last-action + .tt-member-info,
#faction-info-members .table-body > li[style*="display: none"] + .tt-member-info + .tt-stats-estimate {
	display: none;
}
